<div class="form-group box">
  <div>
    <input class="form-control inputText"
           type="text"
           [(ngModel)]="autocompleteInput"
           placeholder=""
           #addressText style="padding: 12px 20px; border: 1px solid #ccc; width: 400px"
           required
    >
    <label>Please Type Address</label>
    <span *ngIf="!validState" class="error-message">{{errorMessage}}</span>
  </div>
</div>
<div class="form-group">
  <button [ngClass]="buttonClass" style="min-width: 200px;" [disabled]="!validState" (click)="selectAddress($event)">OK</button>
</div>


